:root {
    --animationSpeed: 4s
}

@keyframes fallingPaint {
    0% {top: -50px;}
    100% {top: 110%;}
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "left mid right";
}

main {
    grid-area: left;
    border: 1px solid red;
}

#mid {
    grid-area: mid;
    border: 1px solid blue;
}

#right {
    grid-area: right;
    
}

#bucketDiv {
    display: flex;
    width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
}

.textOverskrift {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

#darkBk {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#paintBall {
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    color: red;
    border-radius: 50%;
    background-color: red;
}

.dripAni {
    animation: fallingPaint var(--animationSpeed);
}

#introColor {
    display: none;
}

#miniGame {
    display: none;
}