html, body {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

#bkMiniGame {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}