:root {
    --animationSpeed: 4s
}

@keyframes fallingPaint {
    0% {top: -50px;}
    100% {top: 110%;}
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "left left mid right right"
    "lft1 lft2 mid rigt1 rigt2";
}

main {
    grid-area: left;
}

#mid {
    grid-area: mid;
}

#right {
    grid-area: right;
}

#basicUpg {
    grid-area: lft1;
    border: 1px solid red;
}

#paintUpg {
    grid-area: lft2;
    border: 1px solid red;
    display: none;
}

#workersUpg {
    grid-area: rigt1;
    border: 1px solid black;
}

#storageUpg {
    grid-area: rigt2;
    border: 1px solid black;
}

#bucketDiv {
    display: flex;
    width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.upgradeDiv {
    width: fit-content;
    margin-top: 1rem;
}

.upgradeDiv:hover .toolTip {
    display: block;
}

.toolTip {
    position: absolute;
    border-radius: 10px;
    border: 4px solid black;
    background-color: white;
    text-align: center;
    display: none;
}

#basicMpp, #firstMalingKost {
    display: none;
}

.textOverskrift {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

#darkBk {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#confirmJob {
    width: 300px;
    height: 530px;
    background-color: white;
    text-align: center;
    font-size: 2rem;
}

#picOfPerson {
    height: 350px;
    margin: auto;
}

#paintBall {
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    color: red;
    border-radius: 50%;
    background-color: red;
}

.dripAni {
    animation: fallingPaint var(--animationSpeed);
}

#introColor {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#miniGame {
    display: none;
}